extend default

block content

	p Query a face's movements
	
	form(action='/queryFaceMovements', method='post')
		div.input
			input(type="text", name="faceID", value=)
			input(type='submit', value='Query Face ID')
		p  
		div.input
			input(type="radio", name="server", value="cmc", checked=true)
			|  CMC 
			input(type="radio", name="server", value="cmb")
			|  CMB ID 
			input(type="text", name="server_cmb", value=)
	if params.showResponse
		p #{params.response}
		
		if params.match
			p Database: #{params.databaseID}
			
			each val in params.data
				img(src='data:image/jpg;base64,#{val.encodedImage}')
				p. 
					Date: #{val.date}, Latitude: #{val.coordX}, Longitude: #{val.coordY}
					