extend default

block content

	p Query a face's movements
	
	form(action='/queryFaceMovements', method='post')
		div.input
			input(type="text", name="faceID", value=)
			input(type='submit', value='Query Face ID')
		p  
		div.input
			input(type="radio", name="server", value="cmc", checked=true)
			|  CMC 
			input(type="radio", name="server", value="cmb")
			|  CMB ID 
			input(type="text", name="server_cmb", value=)
	
	if params.showResponse
		p 
		p #{params.response}
		
		if params.match			
			- var mijson = JSON.stringify(params);
			
			form(action='/queryFaceMovements/next', method='post')
				div.input
					input(type="hidden", name="params", value=mijson)
					input(type='submit', name="indiceAccion", value='Prev')
					|  
					input(type='submit', name="indiceAccion", value='Next')
				p  
				div.input
					p Database: #{params.databaseID}
					
					img(src='#{params.mapURL}', width="500", height="auto")
					
					img(src='data:image/jpg;base64,#{params.data[params.dataIndex].encodedImage}', width="500", height="auto")
					p. 
						Date: #{params.data[params.dataIndex].date}, Latitude: #{params.data[params.dataIndex].coordX}, Longitude: #{params.data[params.dataIndex].coordY}
					
					